.mahjongBoard {
}

.tile {
    background-color: #AAA;
    border-color: #ccc #bbb #666 #777;
}

.on_board {
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
}

.hinted {
    box-shadow: 0px 0px 40px red;
}

.off_board {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.clickable {
    background-color: #EEE;
    border-color: #FFF #EEE #777 #888;
}

.highlighted {
    background-color: #FFF;
    border-color: #FFF #EEE #AAA #BBB;
}

.clickable:hover {
    background-color: #FFF;
    border-color: #FFF #EEE #999 #AAA;
    box-shadow: 8px 8px 10px rgba(#fff, #fff, #fff, .5);
}

.highlighted:hover {
    background-color: #FFF;
    border-color: #FFF #EEE #AAA #BBB;
}

.category_dragon {
}

.category_wind {
    color: #00AAAA;
}

.category_bamboo_suit {
    color: #009900;
}

.category_circle_suit {
    color: #000099;
}

.category_honor {
    color: #000000;
}

.category_character_suit {
    color: #990000;
}

.category_season {
    color: #009966;
}

.category_flower {
    color: #FF6600;
}

.category_joker {
    color: #000000;
}

.category_back {
    color: #000000;
}

table#history_with_scrollbar {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
}

#collapseOne {
    background-color: #555;
}