@font-face {
    font-family: "Symbola";
    src: url("fonts/Symbola.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,body {
    height: 100%;
}

.splash_icon_bottom {
    font-family: "Symbola";
    background-color: #ff6600;
    border-color: #FF6600 #FF6600 #DD4400 #FF6600;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);    
    font-size: 200px;
    border-style: solid;
    border-width: 1px 1px 20px 20px;
    border-radius: 40px;
    line-height: 1.1;
}

.splash_icon_top {
    font-family: "Symbola";
    background-color: #ffffff;
    border-color: #FFF #EEE #AAA #CCC;
    box-shadow: 0px 0px 0px;
    font-size: 200px;
    border-style: solid;
    border-width: 1px 1px 20px 20px;
    border-radius: 40px;
    line-height: 1.1;
}

.tile_bottom {
    font-family: "Symbola";
    background-color: #ff6600;
    border-color: #FF6600 #FF6600 #DD4400 #FF6600;
}

.tile_top {
    font-family: "Symbola";
    border-color: #FFF #EEE #AAA #CCC;
}

.mahjongBoard {
    -webkit-user-select: none;
}

div.tile, .tile > span.tile_top {
    font-family: "Symbola";
    background-color: #AAA;
    border-color: #ccc #bbb #666 #777;
    -webkit-user-select: none;
}

div.on_board, .on_board > span.tile_bottom {
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
}

div.hinted, .hinted > span.tile_bottom {
    box-shadow: 0px 0px 40px red;
}

div.off_board, .off_board > span.tile_bottom {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

div.clickable, .clickable > span.tile_top {
    background-color: #EEE;
    border-color: #FFF #EEE #777 #888;
}

div.highlighted, .highlighted > span.tile_top {
    background-color: #FFF;
    border-color: #FFF #EEE #AAA #BBB;
    box-shadow: 0px 0px 40px white;
}

div.clickable:hover, .clickable:hover > span.tile_top {
    background-color: #FFF;
    border-color: #FFF #EEE #999 #AAA;
    box-shadow: 8px 8px 10px rgba(#fff, #fff, #fff, .5);
}

div.highlighted:hover, .highlighted:hover > span.tile_top {
    background-color: #FFF;
    border-color: #FFF #EEE #AAA #BBB;
}

.category_dragon {
}

.category_wind {
    color: #000000;
}

.category_bamboo_suit {
    color: #62A148;
}

.category_circle_suit {
    color: #000099;
}

.category_honor {
    color: #000000;
}

.category_character_suit {
    color: #990000;
}

.tile_winter_season {
    color: #402c69;
}
.tile_spring_season {
    color: #00CC4f;
}
.tile_summer_season {
    color: #ff4e50;
}
.tile_autumn_season {
    color: #B0703C;
}

.tile_orchid_flower {
    color: #da70d6;
}
.tile_plum_flower {
    color: #8E4585;
}
.tile_bamboo_flower {
    color: #6f6b76;
}
.tile_chrysanthemum_flower {
    color: #e15d98;
}

.tile_red_dragon {
    color: #990000;
}
.tile_white_dragon {
    color: #000000;
}
.tile_green_dragon {
    color: #009900;
}

.category_joker {
    color: #000000;
}

.category_back {
    color: #000000;
}

table#history_with_scrollbar {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 90px;
}

#collapseOne {
    background-color: #555;
}

.navbar-toggle {
    display: block;
}
