<!doctype html>
<html>
 <head>
  <title>Mahjong</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
 </head>
 <body>
  <div class="container">
   <div id="content"></div>
  </div>

  <!-- Templates -->
  <script type="text/template" id="tpl-splash">
  <div id="splashscreen" style="font-size: 512px">&#x1F000;</div>
  </script>

  <script type="text/template" id="tpl-configuration">
  <p>When you are ready, press play</p>
  <form>
  <button>play</button>
  </form>
  </script>

  <script type="text/template" id="tpl-play-historical-item">
  <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
  </script>

  <script type="text/template" id="tpl-board-history">
                <table id="history_with_scrollbar">
                  <tr id="scroll">
                    <% _.each(collection, function(tile_pair, index, collection) { %>
                    <% tile_pair = collection.at(index); %>
                    <td><%= tile_pair.get('tile1').get('view').outerHTML %></td>
                    <td><%= tile_pair.get('tile2').get('view').outerHTML %></td>
                    <td>&nbsp;</td>
                    <% }, this); %>
                  </tr>
                </table>
  </script>

  <script type="text/template" id="tpl-board-history-tile-pair">
  </script>

  <script type="text/template" id="tpl-board-status">
  <div>
  <div>Status: <span id="status"><%= status %></span></div>
  <div>Matches Available: <span id="matches_available"><%= tiles_having_matches.length %></span></div>
  <div>Tiles Left: <span id="tiles_left"><%= tiles_on_board.length %></span></div>
  <div>Timer: <span id="timer"><%= timer > (60 * 60) ? (new Date(timer * 1000)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0] : (new Date(timer * 1000)).toUTCString().match(/\d\d:(\d\d:\d\d)/)[1] %></span></div>
  </div>
  </script>

  <script type="text/template" id="tpl-board-controls">
  <div>
    <button class="hint">hint</button>
    <button class="undo">undo</button>
    <button class="quit">quit</button>
    <button class="playtree">play tree</button>
  </div>
  </script>

  <script type="text/template" id="tpl-mahjong">
  <div id="mahjongBoardStatus"></div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            History
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row-fluid">
            <div class="col-lg-12 col-md-10 ">
              <div class="cover-container">
  <div id="mahjongBoardHistory"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="mahjongBoardControls"></div>
  <div class="panel panel-default">
  <div id="mahjongBoard" class="panel-body" style="position: relative; margin:0; padding: 0"></div>
  </div>
  </script>

  <!-- Templates -->

  <script src="js/vendor/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>

  <script src="js/App.js"></script>

  <script src="js/models/Type.js"></script>
  <script src="js/models/BoardLayout.js"></script>
  <script src="js/models/Configuration.js"></script>
  <script src="js/models/Deck.js"></script>
  <script src="js/models/TileMatchingStyle.js"></script>
  <script src="js/models/TileCategory.js"></script>
  <script src="js/models/TileCategoryGroup.js"></script>
  <script src="js/models/Tile.js"></script>
  <script src="js/models/Position.js"></script>
  <script src="js/models/PositionedTile.js"></script>
  <script src="js/models/TilePair.js"></script>

  <script src="js/collections/Types.js"></script>
  <script src="js/collections/BoardLayouts.js"></script>
  <script src="js/collections/TileMatchingStyles.js"></script>
  <script src="js/collections/TileCategories.js"></script>
  <script src="js/collections/TileCategoryGroups.js"></script>
  <script src="js/collections/Tiles.js"></script>
  <script src="js/collections/Decks.js"></script>
  <script src="js/collections/TilePairs.js"></script>

  <script src="js/models/BoardStatus.js"></script>

  <script src="js/data/BoardLayouts.js"></script>
  <script src="js/data/TileMatchingStyles.js"></script>
  <script src="js/data/TileCategoryGroups.js"></script>
  <script src="js/data/TileCategories.js"></script>
  <script src="js/data/Tiles.js"></script>
  <script src="js/data/Decks.js"></script>

  <script src="js/models/Board.js"></script>

  <script src="js/logical/TileHandler.js"></script>
  <script src="js/logical/Dealer.js"></script>

  <script src="js/views/splash.js"></script>
  <script src="js/views/configuration.js"></script>
  <script src="js/views/board_status.js"></script>
  <script src="js/views/board_controls.js"></script>
  <script src="js/views/board_history.js"></script>
  <script src="js/views/board_history_tile_pair.js"></script>
  <script src="js/views/mahjong.js"></script>

  <script>
    window.onload = function() {
      app.init();
    }
  </script>
 </body>
</html>
