.tileset_enc {
    width: 85px;
    height: 108px;
}

.tileset_enc_east_wind {
    background: url(enc_tiles_wind.png) 0px 0px;
}
.tileset_enc_south_wind {
    background: url(enc_tiles_wind.png) -91px 0px;
}
.tileset_enc_west_wind {
    background: url(enc_tiles_wind.png) -182px 0px;
}
.tileset_enc_north_wind {
    background: url(enc_tiles_wind.png) -273px 0px;
}

.tileset_enc_red_dragon {
    background: url(enc_tiles_dragon.png) 0px 0px;
}
.tileset_enc_green_dragon {
    background: url(enc_tiles_dragon.png) -91px 0px;
}
.tileset_enc_white_dragon {
    background: url(enc_tiles_dragon.png) -182px 0px;
}

.tileset_enc_one_of_bamboos {
    background: url(enc_tiles_bamboo.png) 0px 0px;
}
.tileset_enc_two_of_bamboos {
    background: url(enc_tiles_bamboo.png) -89px 0px;
}
.tileset_enc_three_of_bamboos {
    background: url(enc_tiles_bamboo.png) -178px 0px;
}
.tileset_enc_four_of_bamboos {
    background: url(enc_tiles_bamboo.png) -266px 0px;
}
.tileset_enc_five_of_bamboos {
    background: url(enc_tiles_bamboo.png) -358px 0px;
}
.tileset_enc_six_of_bamboos {
    background: url(enc_tiles_bamboo.png) -440px 0px;
}
.tileset_enc_seven_of_bamboos {
    background: url(enc_tiles_bamboo.png) -532px 0px;
}
.tileset_enc_eight_of_bamboos {
    background: url(enc_tiles_bamboo.png) -624px 0px;
}
.tileset_enc_nine_of_bamboos {
    background: url(enc_tiles_bamboo.png) -716px 0px;
}

.tileset_enc_one_of_circles {
    background: url(enc_tiles_circle.png) 0px 0px;
}
.tileset_enc_two_of_circles {
    background: url(enc_tiles_circle.png) -89px 0px;
}
.tileset_enc_three_of_circles {
    background: url(enc_tiles_circle.png) -178px 0px;
}
.tileset_enc_four_of_circles {
    background: url(enc_tiles_circle.png) -266px 0px;
}
.tileset_enc_five_of_circles {
    background: url(enc_tiles_circle.png) -358px 0px;
}
.tileset_enc_six_of_circles {
    background: url(enc_tiles_circle.png) -440px 0px;
}
.tileset_enc_seven_of_circles {
    background: url(enc_tiles_circle.png) -532px 0px;
}
.tileset_enc_eight_of_circles {
    background: url(enc_tiles_circle.png) -624px 0px;
}
.tileset_enc_nine_of_circles {
    background: url(enc_tiles_circle.png) -716px 0px;
}

.tileset_enc_one_of_characters {
    background: url(enc_tiles_chars.png) 0px 0px;
}
.tileset_enc_two_of_characters {
    background: url(enc_tiles_chars.png) -89px 0px;
}
.tileset_enc_three_of_characters {
    background: url(enc_tiles_chars.png) -178px 0px;
}
.tileset_enc_four_of_characters {
    background: url(enc_tiles_chars.png) -266px 0px;
}
.tileset_enc_five_of_characters {
    background: url(enc_tiles_chars.png) -358px 0px;
}
.tileset_enc_six_of_characters {
    background: url(enc_tiles_chars.png) -440px 0px;
}
.tileset_enc_seven_of_characters {
    background: url(enc_tiles_chars.png) -532px 0px;
}
.tileset_enc_eight_of_characters {
    background: url(enc_tiles_chars.png) -624px 0px;
}
.tileset_enc_nine_of_characters {
    background: url(enc_tiles_chars.png) -716px 0px;
}

.tileset_enc_spring_season {
    background: url(enc_tiles_flowers1.png) 0px 0px;
}
.tileset_enc_summer_season {
    background: url(enc_tiles_flowers1.png) -91px 0px;
}
.tileset_enc_autumn_season {
    background: url(enc_tiles_flowers1.png) -182px 0px;
}
.tileset_enc_winter_season {
    background: url(enc_tiles_flowers1.png) -273px 0px;
}

.tileset_enc_plum_flower {
    background: url(enc_flowers2.png) 0px 0px;
}
.tileset_enc_orchid_flower {
    background: url(enc_flowers2.png) -91px 0px;
}
.tileset_enc_bamboo_flower {
    background: url(enc_flowers2.png) -182px 0px;
}
.tileset_enc_chrysanthemum_flower {
    background: url(enc_flowers2.png) -273px 0px;
}
